@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.name {
  background-image: radial-gradient(circle, rgba(68,186,255,1) 0%, rgba(68,76,255,1) 26%, rgba(189,49,255,1) 59%, rgba(2,0,246,1) 100%);	background-clip: text;
  background-size: 800%;
  background-repeat: no-repeat;
  animation: 10s infinite alternate-reverse gradient 
}

@keyframes gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
